header {
    text-align: center;
}
/* id selector */

#manatee {
    width: 200px;
}

#bobcat {
    width: 200px;
}

#spoonbill {
    width: 200px;
}

body {
    background-image: url('Images/swamp.jpg');
}